# Ignorar arquivos desnecessários para o build Docker
target/
!target/PlaceInTime-0.0.1-SNAPSHOT.jar
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
.mvn/
mvnw
mvnw.cmd
src/
*.md
